<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Code</th>
      <th>TimeStamp</th>
      <th>Temperature C'</th>
      <th>WindSpeed km/h</th>
      <th>WindDirection</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{reading.code}}
      </td>
      <td>
        {{reading.timeStamp}}
      </td>
      <td>
        {{reading.temperature}}
      </td>
      <td>
        {{reading.windSpeed}}
      </td>
      <td>
        {{reading.windDirection}}
      </td>
      <td>
        {{reading.pressure}}
      </td>
      {{!-- <td>
        <a href="/station/{{../station._id}}/deletereading/{{_id}}" class="button">
          {{>icons/delete}}
        </a>
      </td>
      <td>
        <a href="/station/{{../station._id}}/editreading/{{_id}}" class="button">
          {{>icons/edit}}
        </a>
      </td> --}}
    </tr>
  </tbody>
</table>